{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "@ui": "./src/ui",
          "@api": "./src/api",
          "@img": "./src/img",
          "@util": "./src/util"
        }
      }]
    ]
  }